.auth {
  min-height: 100vh;
  background-image: linear-gradient(
    217deg,
    #63f599,
    #58f4ab5e,
    #49fc9d1a,
    #3fffa500
  );
  .head {
    height: 200px;
    background: url('//s.yezgea02.com/1616032174786/cryptocurrency.png')
      no-repeat center;
    background-size: 120%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    img {
      width: 34px;
      margin: 15px 0 0 15px;
    }
  }
  .tab {
    color: #3eaf7c;
    padding: 30px 24px 10px 24px;
    > span {
      margin-right: 10px;
      font-size: 14px;
      font-weight: bold;
      &.avtive {
        font-size: 20px;
        border-bottom: 2px solid #3eaf7c;
        padding-bottom: 6px;
      }
    }
  }
  .form {
    padding: 0 6px;
    :global {
      .za-list-item {
        background-color: transparent;
        &::after {
          border-top: none;
        }
      }
    }
  }
  .operation {
    padding: 10px 24px 0 24px;
    .agree {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}
